# Airbnb Open EDA

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Airbnb_Open_Data.csv')
pd.set_option('display.max_columns', None)
df.columns = [col.lower().replace(" ","_") for col in df.columns]

df.head(2)

C:\Users\cjhun\AppData\Local\Temp\ipykernel_11940\967145603.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

## Data Cleaning

In [3]:
# calculate the % missing values
percentage_result = df.isnull().sum()/df.shape[0] * 100
# create a DataFrame to show case the result
percentage_result = pd.DataFrame({"columns": percentage_result.keys(), "%": percentage_result})
percentage_result.reset_index(drop=True, inplace=True)
percentage_result

                           columns          %
0                               id   0.000000
1                             name   0.243667
2                          host_id   0.000000
3           host_identity_verified   0.281679
4                        host_name   0.395715
5              neighbourhood_group   0.028265
6                    neighbourhood   0.015595
7                              lat   0.007797
8                             long   0.007797
9                          country   0.518524
10                    country_code   0.127682
11                instant_bookable   0.102340
12             cancellation_policy   0.074075
13                       room_type   0.000000
14               construction_year   0.208579
15                           price   0.240743
16                     service_fee   0.266084
17                  minimum_nights   0.398639
18               number_of_reviews   0.178364
19                     last_review  15.490404
20               reviews_per_month  15.476759
21              review_rate_number   0.317742
22  calculated_host_listings_count   0.310919
23                availability_365   0.436651
24                     house_rules  50.810437
25                         license  99.998051

In [4]:
df.describe()

,id,host_id,lat,long,construction_year,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [5]:
# Checking for duplicated rows
df.duplicated().sum()

541

In [6]:
# Dropping duplicated rows
df.drop_duplicates(inplace=True)

In [7]:
# Double checking for duplicate rows
df.duplicated().sum()

0

In [8]:
# Fixing inconsistencies
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')

df['service_fee'] = df['service_fee'].str.replace('$','')
df['service_fee'] = df['service_fee'].str.replace(',','')

df['price'] = df['price'].astype(float)
df['service_fee'] = df['service_fee'].astype(float)

C:\Users\cjhun\AppData\Local\Temp\ipykernel_11940\1136127875.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$', '')
C:\Users\cjhun\AppData\Local\Temp\ipykernel_11940\1136127875.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['service_fee'] = df['service_fee'].str.replace('$','')

In [9]:
df.isna().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            404
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       400
number_of_reviews                    183
last_review                        15832
reviews_per_month                  15818
review_rate_number                   319
calculated_host_listings_count       319
availability_365                     448
house_rules                        51842
license                           102056
dtype: int64

In [10]:
df.dropna(subset=['last_review', 'reviews_per_month'], inplace=True)

# Drop rows that have less than 3 non-NaN values
df.dropna(thresh=3, inplace=True)

In [11]:
df.isna().sum()

id                                    0
name                                214
host_id                               0
host_identity_verified              243
host_name                           325
neighbourhood_group                  24
neighbourhood                        16
lat                                   7
long                                  7
country                             488
country_code                        115
instant_bookable                     92
cancellation_policy                  66
room_type                             0
construction_year                   185
price                               220
service_fee                         241
minimum_nights                      337
number_of_reviews                    59
last_review                           0
reviews_per_month                     0
review_rate_number                  279
calculated_host_listings_count      261
availability_365                    178
house_rules                       45407
license                           86211
dtype: int64

In [12]:
df.drop(columns=['license'], inplace=True)

In [13]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace({'brookln': 'Brooklyn',
                                                               'manhatan': 'Manhattan'})

In [14]:
df['availability_365'].describe()

count    86035.000000
mean       141.989086
std        133.929587
min        -10.000000
25%          6.000000
50%        101.000000
75%        266.000000
max       3677.000000
Name: availability_365, dtype: float64

In [15]:
df['host_name'].value_counts()

Michael              737
David                616
John                 509
Alex                 459
Karen                414
                    ...
Nadezhda               1
Rodrigue               1
Rebecca And Jolie      1
Eren                   1
Gpa                    1
Name: host_name, Length: 11779, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86213 entries, 0 to 102057
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              86213 non-null  int64
 1   name                            85999 non-null  object
 2   host_id                         86213 non-null  int64
 3   host_identity_verified          85970 non-null  object
 4   host_name                       85888 non-null  object
 5   neighbourhood_group             86189 non-null  object
 6   neighbourhood                   86197 non-null  object
 7   lat                             86206 non-null  float64
 8   long                            86206 non-null  float64
 9   country                         85725 non-null  object
 10  country_code                    86098 non-null  object
 11  instant_bookable                86121 non-null  object
 12  cancellation_policy             86147 non-null  object
 13  room_type                       86213 non-null  object
 14  construction_year               86028 non-null  float64
 15  price                           85993 non-null  float64
 16  service_fee                     85972 non-null  float64
 17  minimum_nights                  85876 non-null  float64
 18  number_of_reviews               86154 non-null  float64
 19  last_review                     86213 non-null  object
 20  reviews_per_month               86213 non-null  float64
 21  review_rate_number              85934 non-null  float64
 22  calculated_host_listings_count  85952 non-null  float64
 23  availability_365                86035 non-null  float64
 24  house_rules                     40806 non-null  object
dtypes: float64(11), int64(2), object(12)
memory usage: 17.1+ MB

In [17]:
# Since this data was collected from New York City we can
# drop country/country code 
df.drop(columns=['name','country','country_code'], inplace=True)

In [18]:
# Fill missing values in 'instant_bookable' column with the most frequent value
most_frequent_value = df['instant_bookable'].mode()[0]
df['instant_bookable'].fillna(most_frequent_value, inplace=True)

In [19]:
df['host_identity_verified'].value_counts()

unconfirmed    43035
verified       42935
Name: host_identity_verified, dtype: int64

In [20]:
# Fill missing values in 'host_identity_verified' column with False
df['host_identity_verified'].fillna("MISSING", inplace=True)

In [21]:
cols = df.select_dtypes(include=['object']).columns

for col in cols:
    print(f'{col.upper()}')
    print(df[col].value_counts())
    print('\n')

HOST_IDENTITY_VERIFIED
unconfirmed    43035
verified       42935
MISSING          243
Name: host_identity_verified, dtype: int64


HOST_NAME
Michael              737
David                616
John                 509
Alex                 459
Karen                414
                    ...
Nadezhda               1
Rodrigue               1
Rebecca And Jolie      1
Eren                   1
Gpa                    1
Name: host_name, Length: 11779, dtype: int64


NEIGHBOURHOOD_GROUP
Manhattan        35788
Brooklyn         35767
Queens           11444
Bronx             2344
Staten Island      846
Name: neighbourhood_group, dtype: int64


NEIGHBOURHOOD
Bedford-Stuyvesant        6968
Williamsburg              6548
Harlem                    4748
Bushwick                  4106
Hell's Kitchen            3278
                          ...
Gerritsen Beach              3
Glen Oaks                    2
Woodrow                      1
Chelsea, Staten Island       1
New Dorp                     1
Name: neighbourhood, Length: 223, dtype: int64


CANCELLATION_POLICY
moderate    28852
strict      28666
flexible    28629
Name: cancellation_policy, dtype: int64


ROOM_TYPE
Entire home/apt    45611
Private room       38785
Shared room         1702
Hotel room           115
Name: room_type, dtype: int64


LAST_REVIEW
6/23/2019    2436
6/30/2019    2220
7/1/2019     2204
6/24/2019    1505
7/7/2019     1147
             ...
6/13/2015       1
7/30/2015       1
5/18/2015       1
5/6/2015        1
9/21/2014       1
Name: last_review, Length: 2477, dtype: int64


HOUSE_RULES
#NAME?                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2097
House Rules 1. Check-in is 4 pm local time. If the unit is ready earlier, we’ll let you know. Check-out is normally 11 am local time, but we’d be happy to extend it as long as we don’t have a cleaning scheduled. Just let us know.  2. All bookings require a security deposit of at least $300, which will be refunded within 7 days of your check-out. 3. For security measures we require all guests to provide proof of identification through ID verification on our own website. In order to check in we'll need a photo of your ID.  4. Our cancellation policy is as shown on our ad and defined by the site you are booking through.  5. Don’t let $300 go up in smoke. There's no smoking allowed in any Flatbook and a $300 fine for breaking this rule.  6. Unfortunately we don’t allow pets in any of our apartments. 7. Unless you’re staying in one of our specialty apartments, we don’t allow parties or excessive noise. 8. If we find the place very messy, we have to charge an extra $40 for every extra hour o     743
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      725
No Smoking No Pets                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           654
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.  Parties, pets and smoking are not allowed under any circumstances and incur significant fees.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       442
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
-  1.Guest(s) agree to NO PARTIES anywhere on the property. Legal action will be taken for parties that cause damages to the unit, property, reputation, or relationship with building staff or other residents.  2.Smoking of any kind is not permitted in the unit or on the premises. Fee for smoking will be 10 times your total reservation cost. For example, your total reservation cost is $350. Fee for smoking on premises will be $3,500. 3.Guests agree to abide by maximum occupancy of unit, and observe quiet hours between 9pm and 9am  4.Guests are responsible for action of ALL GUESTS occupying their unit at all times.  5.Guests agree to return all keys, remotes. Replacement fees may apply for unreturned items  6.Guests understand that onsite building staff (maintenance and concierge) are not affiliated with AIRBNB. Please contact me directly for any needed items.  7.Guests understand that no pets are to be in the unit.  8.Guests agree to pay replacement cost for any unreturned items, and $4       1
- Quiet time after 12                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
No smoking anywhere in or out of home (guest must be non-smoker) Cologne/perfume/spray use are not allowed any time anywhere (allergy prevent) Please be aware of your actions and always look back before leaving bathroom to make sure everything is left clean Please cause no disturbance and walk the stairs slower to prevent much noise OK to eat in your room but not in bed, always clean/cover food Keep your room clean during your stay Recycle and use reusable shopping bag (provided, please carry with you) Please do not bring plastic bags from stores Ask for help/assistance/information at any time, we want you to feel comfortable Night time help please call from the same phone number twice or more if the call is not answered Do not give mailing address to anyone (ask me why) If guest breaks rule about mailing address, the charge is $200                                                                                                                                                                   1
-  1.Guest(s) agree to NO PARTIES anywhere on the property. Legal action will be taken for parties that cause damages to the unit, property, reputation, or relationship with building staff or other residents.  2.Smoking of any kind is not permitted in the unit or on the premises. Fee for smoking will be 10 times your total reservation cost. For example, your total reservation cost is $350. Fee for smoking on premises will be $3,500. 3.Guests agree to abide by maximum occupancy of unit, and observe quiet hours between 9pm and 9am  4.Guests are responsible for action of ALL GUESTS occupying their unit at all times.  5.Guests agree to return all keys, remotes. Replacement fees may apply for unreturned items  6.Guests understand that onsite building staff (maintenance and concierge) are not affiliated with AIRBNB. Please contact me directly for any needed items.  7.Guests understand that no pets are to be in the unit.  8.Guests agree to pay replacement cost for any unreturned items, and $1       1
4 nights minimum stay No pets at any time No smoking Please be mindful of the furniture and personal belongings, it was all furnished with designer pieces and hard to replace things.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Name: house_rules, Length: 1953, dtype: int64

In [26]:
# Function to search for specific phrases
def search_specific_phrases(text):
    if isinstance(text, str):  # Check if the value is a string
        # Search for specific phrases
        no_smoking = "no smoking" in text.lower()
        no_drugs = "no drugs" in text.lower()
        no_pets = "no pets" in text.lower()
    else:
        no_smoking = False
        no_drugs = False
        no_pets = False
    
    return no_smoking, no_drugs, no_pets

# Apply the function to each row and assign the result to new columns
df['no_smoking'], df['no_drugs'], df['no_pets'] = zip(*df['house_rules'].apply(search_specific_phrases))

# Print the DataFrame to see the result
df[['house_rules', 'no_smoking', 'no_drugs', 'no_pets']]

,house_rules,no_smoking,no_drugs,no_pets
0,Clean up and treat the home the way you'd like...,True,False,False
1,Pet friendly but please confirm with me if the...,False,False,False
3,NaN,False,False,False
4,"Please no smoking in the house, porch or on th...",True,False,False
5,"No smoking, please, and no drugs.",True,True,False
...,...,...,...,...
102052,This place is about enjoying good times and th...,False,False,False
102053,Shoes off Clean After yourself Turn Lights and...,False,False,False
102054,#NAME?,False,False,False
102055,* Check out: 10am * We made an effort to keep ...,False,False,False
102057,Please remember that this is a residential bui...,False,False,False

In [28]:
import re

# Function to search for specific words using regular expressions
def search_specific_words(text):
    if isinstance(text, str):  # Check if the value is a string
        # Search for specific words using regular expressions
        matches = re.findall(r'\bno\s+\w+\b', text.lower())
        # Extract the words following "no"
        words_following_no = [match.split()[1] for match in matches]
    else:
        words_following_no = []
    
    return words_following_no

# Apply the function to each row and assign the result to a new column
df['No_Words'] = df['house_rules'].apply(search_specific_words)

# Print the DataFrame to see the result
df[['house_rules', 'No_Words']]

                                              house_rules          No_Words
0       Clean up and treat the home the way you'd like...         [smoking]
1       Pet friendly but please confirm with me if the...                []
3                                                     NaN                []
4       Please no smoking in the house, porch or on th...         [smoking]
5                       No smoking, please, and no drugs.  [smoking, drugs]
...                                                   ...               ...
102052  This place is about enjoying good times and th...                []
102053  Shoes off Clean After yourself Turn Lights and...                []
102054                                             #NAME?                []
102055  * Check out: 10am * We made an effort to keep ...                []
102057  Please remember that this is a residential bui...                []

[86213 rows x 2 columns]

In [29]:
df['No_Words'].value_counts()

[]                          59943
[smoking]                    6595
[smoking, pets]              2854
[pets, smoking]              1128
[smoking, pets, parties]      788
                            ...
[smoking, pets, move]          11
[late, smoking, shoes]         10
[pets, friends, party]         10
[daily]                        10
[smoking, free]                 7
Name: No_Words, Length: 437, dtype: int64

# Plots

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

def plot_bar_chart(column_name: str, hue: str = None, top_values: int = None, palette: str = "flare", 
                   show_grid: bool = True, figsize: tuple = (16, 9), bar_font_size: int = 14, 
                   bar_angle: int = 0, angle: int = 45):
    """
    Plot bar chart for the specified column.

    Parameters:
        column_name (str): Name of the column to plot.
        hue (str): Variable in data to map plot aspects to different colors.
        top_values (int): Number of top values to consider.
        palette (str): Palette name for the plot.
        show_grid (bool): Whether to display grid lines.
        figsize (tuple): Figure size.
        bar_font_size (int): Font size for bar labels.
        bar_angle (int): Rotation angle for bar labels.
        angle (int): Rotation angle for x-axis labels.
    """

    # Create figure and axes
    fig, ax = plt.subplots(1, 1, figsize=figsize, facecolor=(247/255, 247/255, 247/255))
    
    # Set face color for the axes
    ax.set_facecolor((247/255, 247/255, 247/255))
    
    # Get value counts
    if top_values is not None:
        counts = df[column_name].value_counts().iloc[:top_values]
    else:
        counts = df[column_name].value_counts()
        
    # Plot bar chart
    bar_ax = sns.barplot(x=counts.keys(), y=counts, palette=palette, ax=ax, hue=df[hue] if hue is not None else None) 
    
    # Add labels to bars
    for i in bar_ax.containers:
        bar_ax.bar_label(i, rotation=bar_angle, fontsize=bar_font_size)
        
    # Set x-axis labels rotation and font size
    plt.xticks(rotation=angle, fontsize=15)
    
    # Set labels for x and y axes
    plt.xlabel(f"{column_name}", fontweight="bold", fontsize=15)
    plt.ylabel("count", fontweight="bold", fontsize=15)
    
    # Set title
    plt.title(f"Top {top_values} {column_name}" if top_values is not None else f"{column_name}", fontsize=20)
    
    # Show grid if required
    if show_grid:
        plt.grid()
    
    # Show plot
    plt.show()

In [ ]:
import matplotlib.pyplot as plt

def plot_pie_chart(column_name: str, startangle: int = 45, loc: str = "center", explodes: float = 0.09, colors: list = None):
    """
    Plot pie/donut chart for the specified column.

    Parameters:
        column_name (str): Name of the column to plot.
        startangle (int): The angle by which the start of the pie is rotated, degrees counterclockwise from the x-axis.
        loc (str): Location of the legend.
        explodes (float): Spacing between slices.
        colors (list): List of colors for the pie chart.
    """

    # Get values and keys
    values = df[column_name].value_counts()
    keys = values.keys()
    total_records = df[column_name].count()

    # Calculate labels
    labels = ["{0} - {1:1.2f} %".format(i, j / total_records * 100) for i, j in zip(keys, values)]
    explodes = [explodes / len(keys) for i in range(len(keys))]

    # Create subplots with defined figure size
    plt.subplots(figsize=(16, 9))

    # Draw the pie chart
    patches, texts = plt.pie(values, startangle=startangle, explode=explodes, colors=colors)

    # Draw circle
    center_circle = plt.Circle(xy=(0, 0), radius=0.70, fc="white")
    fig = plt.gcf()
    fig.gca().add_artist(center_circle)

    # Set title
    plt.title(column_name, fontsize=25, fontweight="bold")

    # Add legend
    plt.legend(patches, labels, loc=loc, fontsize=14)

    # Show plot
    plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

def plot_line_chart(column_name, xlabel, ylabel, title):
    """
    Plot line chart for the specified column.

    Parameters:
        column_name (str): Name of the column to plot.
        xlabel (str): Label for the x-axis.
        ylabel (str): Label for the y-axis.
        title (str): Title of the plot.
    """

    # Get values and keys
    value = df[column_name].value_counts().sort_index()
    keys = np.array(value.keys(), dtype=np.int16)

    # Create figure and axes
    fig = plt.figure(facecolor=(247/255, 247/255, 247/255), figsize=(16, 7))
    ax = plt.subplot(1, 1, 1)
    
    # Set face color for the axes
    ax.set_facecolor((247/255, 247/255, 247/255))
    
    # Plot line chart
    ax.plot(value, 'o--', c="black", markerfacecolor='none', markersize=12, markeredgecolor="red", markeredgewidth=3, linewidth=2)
    
    # Set labels and title
    plt.xlabel(xlabel, fontsize=20, fontweight="bold")
    plt.ylabel(ylabel, fontsize=20, fontweight="bold")
    plt.xticks(ticks=keys, fontsize=12, rotation=15)
    plt.title(title, fontsize=24, fontweight="bold")
    
    # Show plot
    plt.show()

In [ ]:
plot_bar_chart(column_name='name', top_values=5, palette='Set2', show_grid=False)

In [ ]:
plot_bar_chart(column_name='host_identity_verified', top_values=5, palette='Set2', show_grid=False)