# Airbnb Open EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Airbnb_Open_Data.csv')
pd.set_option('display.max_columns', None)
df.head(2)

C:\Users\cjhun\AppData\Local\Temp\ipykernel_17848\577675556.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN

In [2]:
df.columns = [col.lower().replace(" ","_") for col in df.columns]
df.head(3)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [4]:
# calculate the % missing values
percentage_result = df.isnull().sum()/df.shape[0] * 100
# create a DataFrame to show case the result
percentage_result = pd.DataFrame({"columns": percentage_result.keys(), "%": percentage_result})
percentage_result.reset_index(drop=True, inplace=True)
percentage_result

                           columns          %
0                               id   0.000000
1                             name   0.243667
2                          host_id   0.000000
3           host_identity_verified   0.281679
4                        host_name   0.395715
5              neighbourhood_group   0.028265
6                    neighbourhood   0.015595
7                              lat   0.007797
8                             long   0.007797
9                          country   0.518524
10                    country_code   0.127682
11                instant_bookable   0.102340
12             cancellation_policy   0.074075
13                       room_type   0.000000
14               construction_year   0.208579
15                           price   0.240743
16                     service_fee   0.266084
17                  minimum_nights   0.398639
18               number_of_reviews   0.178364
19                     last_review  15.490404
20               reviews_per_month  15.476759
21              review_rate_number   0.317742
22  calculated_host_listings_count   0.310919
23                availability_365   0.436651
24                     house_rules  50.810437
25                         license  99.998051

In [5]:
# Checking for duplicated rows
df.duplicated().sum()

541

In [6]:
# Dropping duplicated rows
df.drop_duplicates(inplace=True)

In [7]:
# Double checking for duplicate rows
df.duplicated().sum()

0

In [8]:
# Removing '$', ',', and changing data type
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')

df['service_fee'] = df['service_fee'].str.replace('$','')
df['service_fee'] = df['service_fee'].str.replace(',','')

df['price'] = df['price'].astype(float)
df['service_fee'] = df['service_fee'].astype(float)

C:\Users\cjhun\AppData\Local\Temp\ipykernel_17848\2249736956.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$', '')
C:\Users\cjhun\AppData\Local\Temp\ipykernel_17848\2249736956.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['service_fee'] = df['service_fee'].str.replace('$','')

In [9]:
# Drop rows where 'column1' or 'column2' have NaN values
df.dropna(subset=['last_review', 'reviews_per_month'], inplace=True)

# Drop rows that have less than 3 non-NaN values
df.dropna(thresh=3, inplace=True)

In [10]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace({'brookln': 'Brooklyn',
                                                               'manhatan': 'Manhattan'})

In [11]:
df['availability_365'].describe()

count    86035.000000
mean       141.989086
std        133.929587
min        -10.000000
25%          6.000000
50%        101.000000
75%        266.000000
max       3677.000000
Name: availability_365, dtype: float64

In [15]:
df['host_name'].value_counts()

Michael              737
David                616
John                 509
Alex                 459
Karen                414
                    ...
Nadezhda               1
Rodrigue               1
Rebecca And Jolie      1
Eren                   1
Gpa                    1
Name: host_name, Length: 11779, dtype: int64

In [16]:
# total unique values in this column
total_unique_values = df["host_name"].unique().shape[0]
print(f"Total unique values:           {total_unique_values}")
print(f"% of unique values to overall: {round(total_unique_values/df['host_name'].shape[0] * 100, 2)}%")

Total unique values:           11780
% of unique values to overall: 13.66%